* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#canvas {
    background-color: red;
    top: 0;
    left: 0;
}

#dog {
    display: none;
}

#loading {
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}